*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  background-color: #1F2235;
  color:white
}

.social:hover{
  transform: scale(1.1);
  transition: all 1s;
}
.detailButton{
  color: white;
}
.detailButton:hover{
  color: orangered;
}

.welcome{
  color: orangered;
}
.deneme{
  padding: 1rem !important;
}
.icons{
  display:flex;
  gap:4rem;
  justify-content:center;
  margin:6rem;
}
@media (max-width:500px) {
  .fatih{
    display: none;
  }
  .icons{
    margin: 20%;
    flex-direction: column;
    text-align: center;
  }
}
